.faq__section {
  padding: 70px 0 70px 0;
  color: #fff;
  background-color: #5a8a8a;

  @media (min-width: 320px) and (max-width: 810px) {
    padding: 50px 0 55px 0;
  }

  .title {
    margin-bottom: 50px;

    @media (max-width: 700px) {
      padding: 0 20px 0 20px;
    }
  }

  .title__header {
    font-size: 2.25rem;
  }

  .title__text {
    font-size: 1.25rem;
  }

  .faq__header {
    margin: 0;
    font-size: 1rem;
    font-family: $ff-main-bold;

    @media (max-width: 580px) {
      padding-right: 50px;
    }
  }
}

/* ==============================
	$-Styles
============================== */

.nav-wrapper {
  max-width: 550px;
  margin: auto;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  @media (max-width: 600px) {
    margin: 30px;
  }
}

/* ul-reset */
.ul-reset {
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/* jQuery Accordion Navigation Menu */
.nav-item {
  border-top: 1px solid rgba(255, 255, 255, 0.25);

  &:first-child {
    border-top: none;
  }
}

.nav-item-inner {
  > a {
    display: block;
    text-decoration: none;
    color: #515151;

    @media (max-width: 600px) {
      padding: 10px 0;
    }
  }
}

.nav-item-inner-heading {
  position: relative;
  padding: .75rem;
  padding-right: 2.5rem;
  font-weight: 700;
  &:focus {
    opacity: 1;
  }
  &.minus:after,
  &.plus:after {
    position: absolute;
    top: 50%;
    right: .75rem;
    transform: translateY(-50%);
    width: 1rem;
    text-align: center;
    font-family: $fontawesome;
    font-style: normal;
    font-size: .9rem;
    color: #5a8a8a;
  }
  &.minus:after {
    content: "\f068";
  }
  &.plus:after {
    content: "\f067";
  }
}

.nav-sub-list {
  display: none;
  font-size: .8rem;
  overflow: hidden;
  padding: 0;
}

.nav-sub-list-inner {
  padding: 0 .75rem .75rem;
  color: #515151;

  p {
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 2;
  }
}

.nav-sub-item {
  padding-left: .75rem;
  margin-top: .375rem;
  &:first-child {
    margin-top: 0;
    font-style: italic;
  }
}