.header {
  position: relative;
  min-height: 59px;
  background: linear-gradient(90deg,
                  rgba(132, 100, 165, 0.4),
                  rgba(215, 63, 135, 0.4)
  ), url(http://m-time.online/img/bg_promo.jpg) center/cover no-repeat;
  padding-bottom: 150px;

  &__top {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;

    .logo {
      padding-top: 15px;
      font-family: $ff-main-bold;
      line-height: 1;
      margin-right: 50px;
      text-align: right;

      @media (max-width: 1500px) {
        margin-right: 50px;
      }
    }

    .logo__text {
      font-size: 1.8rem;
      color: #d83f87;
    }

    .logo__text_time {
      font-size: 3rem;
      color: #fff;
    }
  }
}

.contacts {
  padding-top: 35px;

  @media (max-width: 650px) {
    padding-top: 12px;
  }
}

.contact {
  display: inline-block;
  vertical-align: top;
  padding: 12px 10px 8px;
  color: #fff;
  transition: 0.3s;

  @media (max-width: 650px) {
    display: block;
  }

  @media (max-width: 500px) {
    display: none;
  }

  &__text {
    font-size: 0.9rem;
    letter-spacing: -0.3px;
  }

  &:hover {
    color: #424242;
  }

  &__icon {
    margin-right: 11px;
    margin-top: -2px;
    font-size: 1.5rem;
    vertical-align: middle;

    &--email {
      font-size: 1.2rem;
      margin-right: 8px;
      margin-top: -1px;
    }
  }
}

.facebook-icon {
  display: inline-block;
  margin: 7px 3px;
  padding: 6px 8px 1px;
  border-radius: 3px;
  background-color: #1287bf;
  color: #fff;
}

/*.logo__img {
  margin-right: 20px;

  & img {
    width: 100%;
  }
}*/

.logo {
  @media (min-width: 500px) and (max-width: 1080px) {
    margin-left: 20px;
  }

  @media (max-width: 499px) {
    margin-left: 20px;
  }
}

