.hero {
  position: absolute;
  top: 288px;
  text-align: left;
  color: #fff;

  &__about {
    font-family: $ff-main-bold;
    font-size: 5rem;
    line-height: 0.3;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 27px;
    font-family: $ff-main-light;
  }

  @media (max-width: 599px) {
    padding: 100px 20px;
    min-height: inherit;
  }

  .button--text-uppercase {
    padding: 21px 41px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.45rem;
  }

}