.program {
  padding: 50px;
  text-align: center;
  color: #424242;

  .accordion {
    margin-bottom: 30px;

    .title__header {
      margin-top: 50px;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      text-align: left;
    }

    &__header {
      margin: 20px 0 9px 0;
      font-size: 1.375rem;
      font-family: $ff-main-bold;
    }

    dt {
      padding: 10px;
      background: #5a8a8a;
      border-radius: 5px;
      margin-bottom: 10px;
      a {
        display: block;
        color: #fdeacf;
        font-weight: bold;
      }
    }
    dd {
      padding: 10px;
      a {
        display: block;
        color: #000;
        font-weight: bold;
      }
    }
    div {
      border-top: 0;
      font-size: 12px;
      &:last-of-type {
        border-top: 1px solid white;
        position: relative;
        top: -1px;
      }
    }
  }
}
