.testimonials {
  position: relative;
  padding: 99px 0 0 0;
  text-align: left;
  color: #cecece;
  background: #424242;

  .slider {
    overflow-x: hidden;
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .slider-wrapper {
    div {
      position: relative;
    }
    margin-top: 50px;
    margin-left: 110px;
  }

  .slide-image {
    height: 240px;
    img {
      width: 100%;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  .slide-content {
    width: 512px;
    padding: 0 30px;
  }

  .slide-date {
    color: #5a8a8a;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.1px;
    padding-bottom: 14px;
  }

  .slide-title {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.55;
    padding-bottom: 18px;
  }

  .slide-text {
    font-size: 1rem;
    line-height: 1.2;
    opacity: 0.8;
    padding-bottom: 40px;
  }

  .slide-bullet {
    width: 50px;
    height: 50px;
    background-color: #0b8bcc;
    border-radius: 200%;
    position: relative;
    margin-left: 12px;
  }

  .slide-nav {
    margin-left: 640px;
    margin-top: -55px;
  }

  div.overlay-blue {
    width: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s ease all;
    &:hover {
      background-color: rgba(13, 27, 43, 0.5);
    }
  }

  .arrows {
   text-align: center;
    position: relative;
    padding-bottom: 50px;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 2rem;
    padding: 0 15px;
    color: #5a8a8a;

    &:hover {
      color: #cecece;
    }
  }
}