// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$book-name: 'book';
$book-x: 0px;
$book-y: 0px;
$book-offset-x: 0px;
$book-offset-y: 0px;
$book-width: 100px;
$book-height: 100px;
$book-total-width: 200px;
$book-total-height: 200px;
$book-image: '../images/sprite.png';
$book: (0px, 0px, 0px, 0px, 100px, 100px, 200px, 200px, '../images/sprite.png', 'book', );
$planet-name: 'planet';
$planet-x: 100px;
$planet-y: 0px;
$planet-offset-x: -100px;
$planet-offset-y: 0px;
$planet-width: 100px;
$planet-height: 100px;
$planet-total-width: 200px;
$planet-total-height: 200px;
$planet-image: '../images/sprite.png';
$planet: (100px, 0px, -100px, 0px, 100px, 100px, 200px, 200px, '../images/sprite.png', 'planet', );
$study-name: 'study';
$study-x: 0px;
$study-y: 100px;
$study-offset-x: 0px;
$study-offset-y: -100px;
$study-width: 100px;
$study-height: 100px;
$study-total-width: 200px;
$study-total-height: 200px;
$study-image: '../images/sprite.png';
$study: (0px, 100px, 0px, -100px, 100px, 100px, 200px, 200px, '../images/sprite.png', 'study', );
$work-item-name: 'work-item';
$work-item-x: 100px;
$work-item-y: 100px;
$work-item-offset-x: -100px;
$work-item-offset-y: -100px;
$work-item-width: 36px;
$work-item-height: 37px;
$work-item-total-width: 200px;
$work-item-total-height: 200px;
$work-item-image: '../images/sprite.png';
$work-item: (100px, 100px, -100px, -100px, 36px, 37px, 200px, 200px, '../images/sprite.png', 'work-item', );
$spritesheet-width: 200px;
$spritesheet-height: 200px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($book, $planet, $study, $work-item, );
$spritesheet: (200px, 200px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
