section#coach.coach
    .container

        .coach__list
            .title
                h2.title__header.title--with-bottom-line Кто ведёт программу?
            .coach__item
                h6.coach__header.
                    Привет! Я Алена Вишневская, эксперт по медитациям, автор онлайн-программ обучения
                    медитации, приложения My Meditation, инструктор контролируемых медитаций и руководитель Школы Медитации💙

                .coach__description
                    br
                    | - вы получаете доступ в закрытую FB-группу
                    br
                    | - часть материалов вы получите в PDF-формате
                    br
                    | - задания и теоретическая информация публикуются в группе
                    br
                    | - онлайн-трансляции Алены Вишневской, групповые медитации проводятся в закрытой группе
                    br
                    | - в результате обучения вы получите набор техник медитации на каждый день и ответы на все свои вопросы, связанные с медитацией