section.faq__section#faq
    .container
        .title.title--with-bottom-line-faq
            h2.title__header FAQ

        .nav-wrapper
            nav.nav
                ul.nav-list.ul-reset
                    li.nav-item
                        .nav-item-inner
                            a.nav-item-inner-heading.plus(href='#')
                                h2.faq__header Как получить бонус?
                            ul.nav-sub-list.ul-reset
                                .nav-sub-list-inner

                                    p Покупка пакета Базовый до 20.06 - означает получение бонуса:
                                        br
                                        | - Базовый 500 грн до 20.06, потом 700 грн
                                        br
                                        | - Стандарт 1500 грн до 20.06, потом 1800 грн
                                        br
                                        | - Премиум 3000 грн до 20.06, потом 3200 грн

                    li.nav-item
                        .nav-item-inner
                            a.nav-item-inner-heading.plus(href='#')
                                h2.faq__header Достаточно ли практики?
                            ul.nav-sub-list.ul-reset
                                .nav-sub-list-inner

                                    p.faq__description.
                                        Каждый день на онлайн-программе обучения медитации вы будете закреплять полученную
                                        теорию непосредственным практическим опытом вместе с преподавателем. Наш курс
                                        выстроен таким образом, что бы вы получали практический опыт как основу, а
                                        благодаря теории закрепляли его.

                    li.nav-item
                        .nav-item-inner
                            a.nav-item-inner-heading.plus(href='#')
                                h2.faq__header В чём мне реально поможет обучение?
                            ul.nav-sub-list.ul-reset
                                .nav-sub-list-inner

                                    p.faq__description.
                                        Вы получите арсенал техник медитации, которые сможете практиковать самостоятельно
                                        и справляться с усталостью, напряжением, стрессом, а так же инструменты, которые
                                        позволят вам заботиться о своем ментальном и эмоциональном здоровье. После нашей
                                        программы вы будете 100% уверенны, что научились медитировать.

                    li.nav-item
                        .nav-item-inner
                            a.nav-item-inner-heading.plus(href='#')
                                h2.faq__header Успевает ли преподаватель всем дать качественную обратную связь?
                            ul.nav-sub-list.ul-reset
                                .nav-sub-list-inner

                                    p.faq__description.
                                        Формат общения в закрытой группе FB позволяет оперативно реагировать на вопросы
                                        участников в комментариях, обязательные отчеты после выполнения практик дают
                                        возможность отслеживать правильность выполнения медитаций и преподаватель сразу
                                        при необходимости может отрегулировать механику.

                    li.nav-item
                        .nav-item-inner
                            a.nav-item-inner-heading.plus(href='#')
                                h2.faq__header Почему “M-time. Школа Медитации”? Есть же аналоги!
                            ul.nav-sub-list.ul-reset
                                .nav-sub-list-inner

                                    p.faq__description.
                                        Аналоги и есть и возможно, мы вам не подойдем, если вы ищите эзотерику, мистику,
                                         духовность. В нашей школе о медитации говорят простым и понятным языком. Для
                                         нас медитация - это тренировка ума, которая позволяет направлять внимание
                                         на важные области жизни и улучшать их качество. Мы “за” практичность и эффективность.



        h2.form__header Возникли вопросы?
        .btn-down: a.arrow-down(href="form.html" target="_blank"): i.fa.fa-angle-down


        .form-container.is-hidden
            form#form(action="send.php").form
                button(type="button").form__close-button x
                .form__text.
                    Задайте их нашему координатору

                .form__fields
                    input.form__input(type='text' placeholder="Your Name" autocomplete='text' name='name' required='required')
                    input.form__input(type="email" placeholder="Your email" autocomplete='email' name='email' required='required')
                    textarea.form__input(rows="10" cols="45" name="message" placeholder="Your message" required='required')
                    input#btn_form.button.button--form.button--text-uppercase(type='submit' value="Отправить")

