section#guarantees.guarantees
    .container

        .guarantees__list
            .title
                h2.title__header.title--with-bottom-line Гарантии
            .guarantees__item
                h6.guarantees__header.
                    Гарантируем возврат 100% внесенных денег.
                    Если вас по какой-либо причине не устроят теория\материалы\практика - вы получите все внесенные деньги назад.

                .guarantees__description.
                    Этим правом можно воспользоваться только в течении 2-х дней программы. В то же время, воспользовавшись
                    им, вы теряете возможность получения каких-либо бонусов и дополнительных материалов, а так же
                    возможность вашего участия в любых других наших программах будет рассматриваться дополнительно
                    командой “M-time. Школы Медитации”.