header.header
    .container
        .header__top

            a.logo
                span.logo__text M
                    br
                    |
                    span.logo__text_time Time

                //a.logo: img.logo__picture(src="images/logo.png" alt="logo")
            include contacts
            include nav

