header.header
    .container
        .header__top

            a.logo: img.logo__picture(src="images/logo.png" alt="logo")
            include contacts
            //include nav
        include hero

