header.header#home
    .container
        .header__top

            a.logo: img.logo__picture(src="images/logo_2.png" alt="logo")
            include contacts
            //include nav
        include hero

