section.hero
    .hero__about M-Time
    h1 онлайн обучения медитации
    h2.hero__title 25 июня - 2 июля 2018
        br
        |
    h3 8 дней практики
        br
        | 8 простых техник медитации
        br
        | 8 прямых эфиров с Аленой Вишневской
    a#price_a.button.button--header.button--text-uppercase(href="#price") Записаться