section#how.how
    .container
        .title.title--with-bottom-line
            h2.title__header Формат курса

        ul.how__description
            li 8 дней теории и практики
            li Обязательные отчеты о практике в закрытой группе фейсбука
            li Совместная онлайн-практика с Аленой Вишневской
            li Доверительная атмосфера
            li Индивидуальные комментарии эксперта по медитациям
            li Постоянная обратная связь от преподавателя и участников
            li На каждом онлайне лайфхаки по теории и практике медитаций
            li Ежедневные разборы отчетов о практике каждого участника
            li Бонусные рекомендации по индивидуальным особенностям участников
            li Доступ в закрытую группу со всеми материалами по завершению курса

        .how__title В программе идеально сочетаются:

        ul.how__list
            li.how__item
                h3.how__header Теоретические знания
                p.how__description_style.
                    О медитации, чем отличается медитативное состояние и практика медитации, виды медитаций и их
                    особенности, разбор самых популярных ошибок и иллюзий о медитации, техника безопасности, влияние
                    медитации на организм, рекомендации к использованию и многое другое.

            li.how__item
                h3.how__header Практический опыт
                p.how__description_style.
                    Практика 8 разных медитаций, разбор составляющих эффективной медитации, подготовка к
                    практике и выход из медитации, разбор и непосредственное практическое переживание
                    особенностей каждой из них, возможность попробовать и выбрать, какой вид медитации подходит
                    именно вам и т. д.

