section#info.info
    .container
        .title.title--with-bottom-line
            h2.title__header Важная информация
        ul.info__list
            li.info__item
                h3.info__header Обучение проходит в онлайн-режиме

                .info__description
                    br
                    | - вы получаете доступ в закрытую FB-группу
                    br
                    | - часть материалов вы получите в PDF-формате
                    br
                    | - задания и теоретическая информация публикуются в группе
                    br
                    | - онлайн-трансляции Алены Вишневской, групповые медитации проводятся в закрытой группе
                    br
                    | - в результате обучения вы получите набор техник медитации на каждый день и ответы на все свои вопросы, связанные с медитацией

            li.info__item.info__item_time
                h3.info__header Время

                .info__description
                    br
                    | - С 25 июня по 2 июля 2018
                    br
                    | - задания и теория будут публиковаться в 6.00
                    br
                    | - онлайн-трансляции с Аленой Вишневской в 20.00