nav#menu.menu
    div.menu__icon
        span
        span
        span
        span

    div.menu__links
        a.nav__link.nav__link--active(href="#about") О курсе
        a.nav__link(href="#price") Стоимость
        a.nav__link(href="#how") Формат курса
        a.nav__link(href="#program") Программа обучение
        a.nav__link(href="#info") Информация
        a.nav__link(href="#coach") О тренере
        a.nav__link(href="#guarantees") Гарантии
        a.nav__link(href="#testimonials") Отзывы
        a.nav__link(href="#faq") FAQ
        a.button.header__button.button--call(href="#contact") Обратный звонок

//- var items = ['Home', 'About us', 'Our Approach', 'Our work']
//- var dataItems = ['header', 'about', 'approach', 'work']

    //div.menu__links
        each item, key in items
            if item === 'Home'
                a.nav__link.nav__link--active(href="#" data-link=dataItems[key])= item
            else
                a.nav__link(href="#" data-link=dataItems[key])= item

        a.button.header__button.button--red(href="#") Free Consultation




