section#price.price
    .container
        .title.title--with-bottom-line
            h2.title__header Выберите свой формат
            //.title__text We are added out major Services
        ul.price__list
            li.price__item
                h3.price__header Пакет
                    br
                    | GOOD
                .price__description 70% практики, 30% теории
                    hr
                    | Закрытая группа фб
                    hr
                    | 8 дней по 40 минут (30 практика + 10 теория)
                    hr
                    | Отчеты и обратная связь по практике

                h3.price__header.total--good 63 грн/день
                .price__description 500 грн весь курс
                    hr
                    | 700 грн с 20.06

                a.button.button--header.button--text-uppercase(href="https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW" +
                "9uIjozLCJhY3Rpb24iOiJwYXkiLCJwdWJsaWNfa2V5IjoiaTMwNzY1NTk4MTY1IiwiYW1vdW50IjoiNzAwIiwiY3VycmVuY3kiOiJVQU" +
                "giLCJkZXNjcmlwdGlvbiI6ItCf0YDQvtGB0YLQvtC5INC60YPRgNGBIiwidHlwZSI6ImJ1eSIsImxhbmd1YWdlIjoicnUifQ%3D%3D&s" +
                "ignature=fNCcLaBHyu3B4keSD2CW0QHF8iA%3D" target="_blank") Записаться

            li.price__item
                h2.recommend recommend
                h3.price__header Пакет
                    br
                    | BEST
                .price__description Все из пакета "GOOD"
                    hr
                    | Совместные онлайн-медитации
                    hr
                    | Pdf-дневник медитации
                    hr
                    | Онлайн-разборы опыта практики

                h3.price__header.total--best 188 грн/день
                .price__description 1500 грн весь курс
                    hr
                    | 1800 грн с 20.06

                a.button.button--header.button--text-uppercase.button--best(href="https://www.liqpay.ua/api/3/checkout?" +
                "data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJwdWJsaWNfa2V5IjoiaTI5Mzg2MjIwNTExIiwiYW1vdW50IjoiMTgwMCIs" +
                "ImN1cnJlbmN5IjoiVUFIIiwiZGVzY3JpcHRpb24iOiLQoNC10LrQvtC80LXQvdC00YPQtdC80YvQuSDQutGD0YDRgSIsInR5cGUiO" +
                "iJidXkiLCJsYW5ndWFnZSI6InJ1In0%3D&signature=EmTLDCXqz0lCsHnBdJDvfeUBdR8%3D" target="_blank") Записаться

            li.price__item
                h3.price__header Пакет
                    br
                    | PREMIUM
                .price__description Все из пакета "BEST"
                    hr
                    | Индивидуальный план медитаций
                    hr
                    | 2 часа дополнительных консультаций
                    hr
                    | 3 дополнительных бонуса

                h3.price__header.total--premium 375 грн/день
                .price__description 3000 грн весь курс
                    hr
                    | 3200 грн с 20.06

                a.button.button--header.button--text-uppercase(href="https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJza" +
                "W9uIjozLCJhY3Rpb24iOiJwYXkiLCJwdWJsaWNfa2V5IjoiaTcyNDcxNTM2NTY0IiwiYW1vdW50IjoiMzIwMCIsImN1cnJlbmN5Ijoi" +
                "VUFIIiwiZGVzY3JpcHRpb24iOiLQn9Cw0LrQtdGCIFBSRU1JVU0iLCJ0eXBlIjoiYnV5IiwibGFuZ3VhZ2UiOiJydSJ9&signature=" +
                "kpNU5JcDpUkcVAbOk83U52gU90A%3D" target="_blank") Записаться