section#program.program
    .container
        .title.title--with-bottom-line
            h2.title__header Программа обучение

        .carousel.flex-grid

            .carousel__slides
                ul
                    li.carousel__slide.center-vertically.active
                        div
                            strong.day__header День 1:
                            .day__text
                                br
                                | - Дыхание - это жизнь,
                                br
                                | - Особенности дыхания во время стресса,
                                br
                                | - Глубокие дыхание и его преимущества,
                                br
                                | - Медитации на дыхании

                    li.carousel__slide.center-vertically
                        div
                            strong.day__header День 2:
                            .day__text
                                br
                                | - Напряжение и тело,
                                br
                                | - Эмоции и следы от них в теле,
                                br
                                | - Тело и забота о нем,
                                br
                                | - Медитация на расслабление тела

                    li.carousel__slide.center-vertically
                        div
                            strong.day__header День 3:
                            .day__text
                                br
                                | - Эмоции и их природа,
                                br
                                | - Как правильно выражать эмоции,
                                br
                                | - Как проживать эмоции экологично,
                                br
                                | - Медитация на проработку эмоций

                    li.carousel__slide.center-vertically
                        div
                            strong.day__header День 4:
                            .day__text
                                br
                                | - Осознавать себя как это,
                                br
                                | - Ключевые вопросы на каждый день,
                                br
                                | - Как понимать себя и свои желания,
                                br
                                | - Медитация, чтобы найти контакт с собой

                    li.carousel__slide.center-vertically
                        div
                            strong.day__header День 5:
                            .day__text
                                br
                                | - Ежедневный стресс и усталость,
                                br
                                | - Ментальное напряжение,
                                br
                                | - Как расставлять приоритеты, когда все важно,
                                br
                                | - Медитация тренировка внимания

                    li.carousel__slide.center-vertically
                        div
                            strong.day__header День 6:
                            .day__text
                                br
                                | - Быть в моменте - как создать эту привычку,
                                br
                                | - Фокус и как тренировать этот навык,
                                br
                                | - Как переключаться между задачами и оставаться эффективным,
                                br
                                | - Медитация концентрация

                    li.carousel__slide.center-vertically
                        div
                            strong.day__header День 7:
                            .day__text
                                br
                                | - Избавляться от лишнего,
                                br
                                | - Эмоциональный и ментальный хлам,
                                br
                                | - Принятие и Благодарность,
                                br
                                | - Медитация по технике ПБО

                    li.carousel__slide.center-vertically
                        div
                            strong.day__header День 8:
                            .day__text
                                br
                                | - Вдохновение на каждый день,
                                br
                                | - Благодарность и как ее принимать,
                                br
                                | - Ежедневная работа с внутренним ресурсом,
                                br
                                | - Медитация принятия и благодарности

                .carousel__controls

                    .carousel__controls.center-vertically.hidden-mobile
                        a.button--prev.button
                            span.screen-reader Previous
                            i.fa.fa-chevron-left(aria-hidden='true')

                    .carousel__controls.center-vertically.hidden-mobile
                        a.button--next.button
                            span.screen-reader Next
                            i.fa.fa-chevron-right(aria-hidden='true')



        hr