section.testim#testim
    .container
        .title.title--with-bottom-line
            h2.title__header Отзывы

        span#right-arrow.arrow.right.fa.fa-chevron-right
        span#left-arrow.arrow.left.fa.fa-chevron-left
        ul#testim-dots.dots
            li.dot.active
            li.dot
            li.dot
            li.dot
            li.dot

            #testim-content.cont

                .active
                    img.img(src="images/testim_1.jpg" alt="")
                    h2 Lorem P. Ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

                div
                    img.img(src="images/testim_1.jpg" alt="")
                    h2 Lorem P. Ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

                div
                    img.img(src="images/testim_1.jpg" alt="")
                    h2 Lorem P. Ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.




