section.testimonials#testimonials
    .container
        .title
            h2.title__header.title--with-bottom-line-testim Отзывы о курсе

        .all_slider

            input#first(type='radio', name='nav', checked='')
            input#second(type='radio', name='nav')
            input#third(type='radio', name='nav')
            input#four(type='radio', name='nav')
            input#five(type='radio', name='nav')
            label.first(for='first')
            label.second(for='second')
            label.third(for='third')
            label.four(for='four')
            label.five(for='five')
            .one.slide
                blockquote
                    span.leftq.quotes “
                    | Якщо буремність буття компастує ваші мізки. А *говорилку* виключає лише созвучний напій)) і всі не ОК, і я не ОК...гори-гори ясно, щоб не дай бог не погасло все те щастя і успіх...)) козел на дорозі, наркомани на городі і таке інше))).
                    | Рекомендую відколупати шпаринку, для свіжого повітря в своїй ракушці instagramo успішного життя-буття.
                    | У кого немає активних точок болю, козлів на дорозі і наркомани хай собі проживають свій досвід)), курс буде не меньш корисним!
                    | Люблю їх і респектую!
                    | Бо можна нести в маси всяке різне, але тільки відкритість серця дающого є ключовим фактором для спільного упіху всіх учасників процесії.
                    | П.С. краткое изложение: круті сердечно відкриті люди дають до біса цікаву і корисну інфу.
                    span.rightq.quotes &bdquo;
                img(src="images/alinka.jpg" alt="Alinka")
                h2.name__testim Алинка Назарова
                h6.name__testim UI/UX Designer at Woof Design Studio
            .two.slide
                blockquote
                    span.leftq.quotes “
                    | Раньше я думала, что медитировать очень сложно. Что нужно выделить для этого специально много времени, какое то особенное место и т.п. Но вот есть в Фейсбуке такая девочка Алена Вишневская, которая показала мне совсем другую сторону и возможности медитации. Главное желание. И оказываеться все легче и проще. И можно найти время, обустроить место и даже 10 минут успокоят твой ум и будет возможность выдохнуть. Ушла медитировать! Спасибо огромное за опыт.
                    span.rightq.quotes &bdquo;
                img(src='images/maryna.jpg' alt='Maryna')
                h2.name__testim Марина Явтушенко-Губська
                h6.name__testim Developer Relations at Woof Studios
            .three.slide
                blockquote
                    span.quotes.leftq  “
                    |  В медитировании я новичок, но благодаря онлайн-программе узнала о новых для себя практиках. За обучение огромное спасибо!
                    span.rightq.quotes &bdquo;
                img(src='images/elena.jpg' alt='Elena')
                h2.name__testim Елена Ветер (Иващенко)
                h6.name__testim CEO Woof Web Design Studios
            .four.slide
                blockquote
                    span.quotes.leftq  “
                    | Мне как новичку была очень полезна информация о медитации, о их видах и техниках. Все очень доступным языком сказано и описано. Спасибо огромнейшее за такой подарок. Подарок, потому что цена была очень доступной для такого объема информации. Еще раз, спасибо!
                    span.rightq.quotes &bdquo;
                img(src='images/alla.jpg' alt='Alla')
                h2.name__testim Алла Николаевна
                h6.name__testim CEO Woof Web Design Studios
            .five.slide
                blockquote
                    span.quotes.leftq  “
                    | Программа помогла с другой стороны посмотреть на процессы в текущей работе. Mindset точно сдвинулся и будет дальше меняться. Качество жизни после тренинга однозначно улучшится. По этой причине, такого рода тренинг будет полезен многим PM'ам. Самое важное, что я получил от программы помимо знаний, я расширил горизонт восприятия. Программа закрыла многие вопросы, которые были, и тем не менее после нее появилось еще больше новых, ответы на которые я буду искать :) Появилась карта дальнейшего развития и огромное желание эту карту исследовать. Это очень круто! Как я говорил про критерии хорошего тренинга, напротив каждой буквы (Desire, Challenge, Passion, Opportunities) я могу поставить жирный плюс. Я получил то, что хотел, а дальше все в моих руках ;)
                    span.rightq.quotes &bdquo;
                img(src='images/inga.jpg' alt='Inga')
                h2.name__testim Инга Максименко
                h6.name__testim CEO Woof Web Design Studios